body {
    font-family: 'Inter', sans-serif;
    background-color: #add8e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: 0.3s;
    width: 250px;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

.btn-cadastrar {
    background-color: #28a745;
}

.btn-cadastrar:hover {
    background-color: #1e7e34;
}

.btn-consultar {
    background-color: #ffc107;
    color: #333;
}

.btn-consultar:hover {
    background-color: #e0a800;
}

.btn-sair {
    background-color: #dc3545;
}

.btn-sair:hover {
    background-color: #c82333;
}